.custom-navbar {
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  min-height: 50px; /* Ajusta la altura mínima según lo necesites */
  background-color: rgba(240, 240, 240, 0.8); /* Blanco con 50% de transparencia */
  background-blend-mode: overlay; /* Mezcla el color blanco con la imagen */
}


